:root {
  --basic-white: #FFFFFF;
  --white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --black-opacity: rgba(0, 0, 0, 0.3);
  --basic-blue: #81B3D2;
  --middle-blue: #669EC0;
  --dark-blue: #5496BD;
  --grey: #EEEEEE;
  --light-grey: #F2F2F2;
  --middle-grey: #EBEBEB;
  --grey-svg: #A9A9A9;
  --grey-logo: #BDBBBC;
  --grey-border-form: #E5E5E5;
  --grey-range: #ABABAB;
  --grey-rating: #666666;
  --grey-input: #6A6A6A;
  --basic-brown: #766357;
  --middle-brown: #604E43;
  --dark-brown: #503E33;
  --bg-footer: rgba(255, 255, 255, 0.9);
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: var(--grey);
  height: 100%;
}

body {
  width: 1200px;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

/*header*/

.main-navigation {
  position: relative;
}

.site-navigation {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 15px 0;
  line-height: 26px;
}

.site-navigation li {
  width: 300px;
}

.site-navigation li:nth-child(4n+1) {
  padding-left: 72px;
}

.site-navigation li:nth-child(4n) {
  padding-right: 72px;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n) {
  text-align: right;
}

.main-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--black-opacity);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus {
  color: var(--basic-brown);
}

/*main*/

.main-bg {
  background-image:
    url("../img/bg_bottom.svg"),
    url("../img/background_main.jpg");
  background-repeat: no-repeat;
  background-position: 0 100%, left;
  background-size: contain, cover;
  padding-top: 76px;
  padding-bottom: 76px;
  text-align: center;
}

.main-text,
.main-text-title {
  text-align: center;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.main-text-title {
  margin-top: 42px;
  margin-bottom: 42px;
  font-size: 21px;
  font-weight: bold;
}

.main-text {
  margin-bottom: 52px;
}

.reason-photo {
  background-color: var(--basic-blue);
}

.reason-photo img {
  object-fit: contain;
}

.reason-photo-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.reason-photo-two {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.block-reason {
  background-color: var(--grey);
  text-align: center;
  padding-top: 47px;
  min-height: 256px;
}

.block-reason h3 {
  margin: 0;
  padding-bottom: 27px;
  font-size: 21px;
}

.number {
  padding-bottom: 23px;
}

.block-reason p {
  margin: 0;
}

.block-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.reason-not-photo {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  min-height: 256px;
}

/*advantages*/

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  margin: 0;
  padding: 0;
  padding-top: 57px;
  padding-bottom: 67px;
}

.advantages h3 {
  font-size: 21px;
  margin: 26px 0;
  padding: 0;
}

.advantages li {
  list-style: none;
  text-align: center;
  margin: 0;
}

.advantages li::before {
  content: "";
  display: block;
  width: 75px;
  height: 77px;
  margin: 0 auto;
}

.advantages-housing::before {
  background: url("../img/icon-1.svg") no-repeat center;
}

.advantages-food::before {
  background: url("../img/icon-3.svg") no-repeat center;
}

.advantages-present::before {
  background: url("../img/icon-2.svg") no-repeat center;
}

/*form*/

.hotel-search {
  text-align: center;
  padding-top: 55px;
  position: relative;
}

.hotel-search h2{
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
}

.hotel-search p {
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.btn {
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  margin: 0;
  padding: 0;
}

.btn-brown {
  background-color: var(--basic-brown);
  margin-top: 46px;
  width: 568px;
  height: 86px;
  padding: 30px 125px;
}

.hotel-search-form {
  position: absolute;
  background-color: var(--basic-white);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding: 55px;
  text-align: left;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 315px;
  width: 568px;
}

.hotel-search-form .hotel-search-item {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.hotel-search-item input {
  font: inherit;
  text-transform: inherit;
  background-color: var(--light-grey);
  border: 2px solid var(--light-grey);
  line-height: 26px;
  max-height: 38px;
  padding: 6px 40px 6px 12px;
}

.hotel-search-item label {
  align-self: center;
}

.date-input {
  width: 346px;
}

.hotel-search-item .number-input {
  width: 114px;
  text-align: center;
  padding: 6px 39px;
}

.calendar {
  position: absolute;
  top: 7px;
  right: 9px;
  fill: var(--grey-svg);
}

.calendar:hover {
  fill: var(--basic-black);
}

.calendar:active {
  fill: var(--basic-blue);
}

.btn-blue {
  background-color: var(--basic-blue);
  margin-top: 25px;
  width: 100%;
  height: 58px;
}

.btn-brown:hover {
  background-color: var(--middle-brown);
}

.btn-brown:focus {
  background-color: var(--dark-brown);
  color: var(--white-opacity);
}

.btn-blue:hover {
  background-color: var(--middle-blue);
}

.btn-blue:focus {
  background-color: var(--dark-blue);
  color: var(--white-opacity);
}

.hotel-search-item input:hover {
  background-color: var(--middle-grey);
  border: 2px solid var(--middle-grey);
}

.hotel-search-item input:focus {
  background-color: var(--basic-white);
  outline: none;
  border: 2px solid var(--grey-border-form);
}

.search-number-input {
  position: relative;
}

.btn-min {
  position: absolute;
  height: 38px;
  width: 38px;
  border: none;
  background-color: transparent;
}

.adult-minus {
  top: -3px;
  left:113px;
}

.adult-plus {
  top: 0;
  left: 188px;
}

.child-minus {
  top: -3px;
  right: 73px;
}

.child-plus {
  top: 0;
  right: 0;
}

.minus:hover rect,
.plus:hover path{
  fill: var(--basic-black);
}

.minus:active rect,
.plus:active path {
  fill: var(--basic-blue)
}

/*footer*/

.main-footer {
  background-color: var(--bg-footer);
  padding-top: 23px;
  padding-bottom: 36px;
}

.map-footer {
  margin-top: -125px;
}

.main-footer p {
  margin: 0;
}
.footer-container {
  margin: 0 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: end;
}

.footer-box {
  text-align: center;
}

.contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts p {
  padding: 0;
  padding-bottom: 10px;
}

.contacts a {
  text-decoration: none;
  color: var(--basic-black);
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-btn {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  justify-content: center;
  align-items: center;
}

.social li:not(:last-child) {
  margin-right: 6px;
}

.social-btn:hover {
  background-color: var(--middle-blue);
}

.social-btn:focus {
  background-color: var(--dark-blue);
}

.social-btn svg {
  fill: var(--basic-white);
}

.social-btn svg:active {
  fill: var(--white-opacity);
}

/*copyright*/

.footer-copyright {
  line-height: 26px;
  display: flex;
  justify-content: center;
}

.footer-copyright span {
  margin-right: 20px;
}

.footer-copyright svg {
  fill: var(--basic-black);
}

.footer-copyright svg:hover {
  fill: var(--basic-blue);
}

.footer-copyright svg:active {
  fill: var(--grey-logo);
}

/*catalog.html*/

/*filters*/

.filters {
  background: url("../img/background_catalog.jpg") no-repeat;
  background-size: cover;
  padding: 26px 72px 9px 72px;
}

.filter-form {
  font-family: inherit;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 24% 24% 1fr;
}

.filter-form ul {
  list-style: none;
}

.filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-form fieldset:last-child {
  justify-self: end;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}

.filter-form ul {
  margin: 0;
  padding: 0;
  padding-left: 39px;
}

.filter-option {
  margin-bottom: 25px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
  top: 0;
  left: -40px;
}

.filter-input:checked + label:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 24px;
  top: 0;
  left: -40px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:checked + label::before {
  border: none;
}

.filter-input:disabled + label::before {
  border: 2px solid var(--grey-input);
}

.filter-input:disabled + label::after {
  background-image: url("../img/checkbox-on-blocked.svg");
}

.filter-form-btn {
  background-color: transparent;
  font: inherit;
  text-transform: uppercase;
  color: var(--basic-white);
  outline: none;
  border: 2px solid var(--basic-white);
  display: block;
  margin: 0 auto;
  width: 137px;
  height: 36px;
}

.filter-form-btn:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.range-filter {
  width: 317px;
  margin-bottom: 10px;
  margin-top: -12px;
}

.price-controls {
  border: 2px solid var(--basic-white);
  background-color: transparent;
  display: flex;
  padding: 5px 0;
  position: relative;
}

.price {
  max-width: 50%;
  display: grid;
  text-align: center;
  justify-content: center;
  grid-template-columns: 50% 50%;
}

.price span {
  text-align: right;
  white-space: pre-wrap;
}

.price-controls input {
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
  text-align: left;
  padding: 0;
  line-height: 21px;
  outline: none;
}

.price-controls::before {
  content: "";
  display: block;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  position: absolute;
  top: auto;
  left: 50%;
}

.range-controls {
  margin-top: 20px;
  margin-bottom: 33px;
  position: relative;
  cursor: pointer;
}

.scale {
  height: 2px;
  background: var(--white-opacity);
}

.bar {
  background: var(--basic-white);
  height: 2px;
  width: 80%;
}

.toggle {
  width: 4px;
  height: 4px;
  background: var(--grey-range);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  position: absolute;
  top: -9px;
  left: 0;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 240px;
}

.toggle:hover {
  width: 5px;
  height: 5px;
  border: 10px solid var(--basic-white);
  top: -11px;
}

/*sort*/

.sort {
  padding: 30px 72px;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
}

.sort h2 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-right: 48px;
}

.sort h3 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.sort-points {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 34px;
}

.sort-btn {
  align-self: center;
}

.sort-points li {
  cursor: pointer;
  color: var(--black-opacity);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-blue);
  text-underline-offset: 3px;
}

.sort-points .sort-points-current {
  color: var(--basic-blue);
  text-decoration: none;
}

.sort-points li:hover {
  color: var(--middle-blue);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-blue);
}

.sort-points li:focus {
  color: var(--basic-blue);
}

.sort-points li:active {
  color: var(--basic-black);
}

.sort-btn .sort-btn-current svg {
  fill: var(--basic-blue);
}

.up-btn svg,
.down-btn svg {
  fill: var(--grey-svg);
}

.up-btn svg:hover,
.down-btn svg:hover {
  fill: var(--basic-black);
}

.up-btn,
.down-btn {
  text-decoration: none;
}

.up-btn {
  margin-right: 12px;
}

.up-btn svg:focus,
.down-btn svg:focus,
.up-btn svg:active,
.down-btn svg:active {
  fill: var(--basic-blue);
}

/*hotels*/

.choice ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.choice-hotel {
  border-top: 1px solid var(--grey-border-form);
  padding: 30px 72px;
  display: grid;
  grid-template-columns: 135px 1fr auto;
  gap: 30px;
}

.choice-hotel + img {
  width: 135px;
  height: 90px;
  background-color: var(--basic-white);
}

.choice-hotel-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choice-hotel:last-child {
  border-bottom: 1px solid var(--grey-border-form);
}

.choice-hotel-title {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.choice-hotel-title:hover {
  color: var(--basic-blue);
}

.choice-hotel-title:active {
  color: var(--black-opacity);
}

.choice-hotel-info {
  display: flex;
  gap: 6px;
}

.choice-hotel-info p {
  padding: 0;
  margin: 0;
  width: 110px;
  overflow: hidden;
}

.choice-hotel-btn {
  display: flex;
  gap: 6px;
}

.btn-small {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  font-weight: bold;
  padding: 3px 16px;
  min-height: 27px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btn-small-blue {
  background-color: var(--basic-blue);
  width: 110px;
}

.btn-small-blue:hover {
  background-color: var(--middle-blue);
}

.btn-small-blue:focus {
  background-color: var(--dark-blue);
  color: var(--white-opacity);
}

.btn-small-brown {
  background-color: var(--basic-brown);
  width: 142px;
}

.btn-small-brown:hover {
  background-color: var(--middle-brown);
}
.btn-small-brown:focus {
  background-color: var(--dark-brown);
  color: var(--white-opacity);
}

.stars {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars img {
  align-self: flex-end;
}

.stars p {
  background-color: var(--light-grey);
  margin: 0;
  width: 110px;
  min-height: 26px;
  color: var(--grey-rating);
  text-align: center;
  line-height: 26px;
  vertical-align: middle;
  overflow: hidden;
}
