:root {
  --basic-white: #FFFFFF;
  --white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --black-opacity: rgba(0, 0, 0, 0.3);
  --basic-blue: #81B3D2;
  --middle-blue: #669EC0;
  --dark-blue: #5496BD;
  --grey: #EEEEEE;
  --light-grey: #F2F2F2;
  --middle-grey: #EBEBEB;
  --grey-svg: #A9A9A9;
  --grey-logo: #BDBBBC;
  --grey-border-form: #E5E5E5;
  --grey-rating: #666666;
  --basic-brown: #766357;
  --middle-brown: #604E43;
  --dark-brown: #503E33;
  --bg-footer: rgba(255, 255, 255, 0.9);
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: var(--grey);
  height: 100%;
}

body {
  max-width: 1200px;
  width: 100%;
  background-color: var(--basic-white);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

/*header*/

.main-navigation {
  margin: 0 72px;
  position: relative;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 227px auto auto 227px;
  line-height: 26px;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  justify-self: flex-end;
}

.main-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-brown);
}

.site-navigation a:active {
  color: var(--black-opacity);
}

/*main*/

.main-bg {
  background-image:
    url("../img/bg_bottom.svg"),
    url("../img/background_main.jpg");
  background-repeat: no-repeat;
  background-position: 0 100%, left;
  background-size: contain, cover;
  padding-top: 76px;
  padding-bottom: 90px;
  text-align: center;
}

.main-text,
.main-text-title {
  text-align: center;
  line-height: 26px;
}

.main-text-title {
  margin-top: 42px;
}

.main-text {
  margin-bottom: 51px;
}

.reason-photo-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.reason-photo-two {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.block-reason {
  background-color: var(--grey);
  text-align: center;
  padding-top: 47px;
}

.block-reason h3 {
  margin: 0;
  padding-bottom: 25px;
}

.number {
  padding-bottom: 23px;
}

.block-reason p {
  margin: 0;
}

.block-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.reason-not-photo {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  min-height: 256px;
}

/*advantages*/

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  margin: 0;
  padding: 0;
}

.advantages li {
  list-style: none;
  text-align: center;
  vertical-align: middle;
  padding-top: 64px;
  padding-bottom: 81px;
  margin: 0;
}

/*form*/

.hostel-search {
  text-align: center;
  padding-top: 58px;
}

.hostel-search h2{
  font-size: 24px;
  margin: 0;
  margin-bottom: 32px;
}

.hostel-search p {
  line-height: 24px;
  margin: 0;
}

.btn {
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
}

.btn-brown {
  background-color: var(--basic-brown);
  margin-top: 43px;
  width: 568px;
  height: 86px;
}

.btn-brown:hover {
  background-color: var(--middle-brown);
}

.btn-brown:focus {
  background-color: var(--dark-brown);
  color: var(--white-opacity);
}

.btn-blue {
  background-color: var(--basic-blue);
}

.btn-blue:hover {
  background-color: var(--middle-blue);
}

.btn-blue:focus {
  background-color: var(--dark-blue);
  color: var(--white-opacity);
}

.hostel-search-item {
  font-weight: bold;
}

.hostel-search-item input {
  font: inherit;
  text-transform: inherit;
  background-color: var(--light-grey);
  border: none;
}

.hostel-search-item input:hover {
  background-color: var(--middle-grey);
}

.hostel-search-item input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--grey-border-form);
}

.hostel-search-form svg {
  fill: var(--grey-svg);
}

.hostel-search-form svg:hover {
  fill: var(--basic-black);
}

.hostel-search-form svg:active {
  fill: var(--basic-blue);
}

/*footer*/

.main-footer {
  background-color: var(--bg-footer);
  padding-top: 23px;
  padding-bottom: 36px;
  margin-top: -120px;
}

.main-footer p {
  margin: 0;
}
.main-footer-box {
  margin: 0 72px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.footer-box {
  text-align: center;
}

.contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts p {
  padding: 0;
  padding-bottom: 10px;
}

.contacts a {
  text-decoration: none;
  color: var(--basic-black);
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-btn {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  justify-content: center;
  align-items: center;

}

.social li:not(:last-child) {
  margin-right: 6px;
}

.social-btn:hover {
  background-color: var(--middle-blue);
}

.social-btn:focus {
  background-color: var(--dark-blue);
}

.social-btn svg {
  fill: var(--basic-white);
}

.social-btn svg:active {
  fill: var(--white-opacity);
}

/*copyright*/

.footer-box:last-child {
  align-self: center;
}

.footer-copyright {
  line-height: 26px;
}

.footer-copyright a {
  padding-left: 15px;
}

.footer-copyright svg {
  fill: var(--basic-black);
}

.footer-copyright svg:hover {
  fill: var(--basic-blue);
}

.footer-copyright svg:active {
  fill: var(--grey-logo);
}

/*catalog.html*/

/*header*/

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus {
  color: var(--basic-brown);
}

/*filters*/

.filters {
  background: url("../img/background_catalog.jpg") no-repeat;
  background-size: cover;
  padding: 26px 72px 32px 72px;
}

.filter-form {
  font-family: inherit;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;

}

.filter-form ul {
  list-style: none;
}

.filter-form fieldset {
  border: none;
}

.filter-form fieldset:last-child {
  justify-self: end;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-form-btn {
  background-color: transparent;
  font: inherit;
  text-transform: uppercase;
  color: var(--basic-white);
  outline: none;
  border: 2px solid var(--basic-white);
}

.filter-form-btn:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.filter-input {

}

/*sort*/

.sort {
  padding: 30px 72px;
  display: grid;
  grid-template-columns: 134px 1fr auto;
  gap: 30px;
}

.sort h2 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.sort-points {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.sort-points li {
  cursor: pointer;
  color: var(--black-opacity);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-blue);
  text-underline-offset: 5px;
}

.sort-points .sort-points-current {
  color: var(--basic-blue);
  text-decoration: none;
}

.sort-points li:hover {
  color: var(--middle-blue);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-blue);
}

.sort-points li:focus {
  color: var(--basic-blue);
}

.sort-points li:active {
  color: var(--basic-black);
}

.sort-btn .sort-btn-current svg {
  fill: var(--basic-blue);
}

.up-btn svg,
.down-btn svg {
  fill: var(--grey-svg);
}

.up-btn svg:hover,
.down-btn svg:hover {
  fill: var(--basic-black);
}

.up-btn,
.down-btn {
  text-decoration: none;
}

.up-btn {
  margin-right: 12px;
}

.up-btn svg:focus,
.down-btn svg:focus,
.up-btn svg:active,
.down-btn svg:active {
  fill: var(--basic-blue);
}

/*hotels*/

.choice ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.choice-hotel {
  border-top: 1px solid var(--grey-border-form);
  padding: 30px 72px;
  display: grid;
  grid-template-columns: 135px 1fr auto;
  gap: 30px;
}

.choice-hotel-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choice-hotel:last-child {
  border-bottom: 1px solid var(--grey-border-form);
}

.choice-hotel-title {
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
}

.choice-hotel-title:hover {
  color: var(--basic-blue);
}

.choice-hotel-title:active {
  color: var(--black-opacity);
}

.choice-hotel-info {
  display: flex;
}

.choice-hotel-info p {
  padding: 0;
  margin: 0;
  width: 116px;
}

.choice-hotel-btn {
  display: flex;
  gap: 6px;
}

.btn-small {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  font-weight: bold;
  height: 27px;
  text-align: center;
  line-height: 21px;
  cursor: pointer;
}

.btn-small-blue {
  background-color: var(--basic-blue);
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-small-blue:hover {
  background-color: var(--middle-blue);
}

.btn-small-blue:focus {
  background-color: var(--dark-blue);
  color: var(--white-opacity);
}

.btn-small-brown {
  background-color: var(--basic-brown);
  width: 142px;
}

.btn-small-brown:hover {
  background-color: var(--middle-brown);
}
.btn-small-brown:focus {
  background-color: var(--dark-brown);
  color: var(--white-opacity);
}

.stars {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars img {
  align-self: flex-end;
}

.stars p {
  background-color: var(--light-grey);
  margin: 0;
  width: 110px;
  height: 26px;
  color: var(--grey-rating);
  text-align: center;
  line-height: 26px;
  vertical-align: middle;
}
